@import url('https://fonts.cdnfonts.com/css/google-sans');
*{
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
}
body{
    background-color: #5e0ff6;
    background-image: url('../img/bg.png');
}
#header{
    margin-top: 40px;
}
#header h2{
    color: #fff;
    text-align: center;
}
#header p{
    text-align: center;
    color: #fff;
}
#content label{
    color: #fff;
}
#content input{
    background-color: #6e26f4;
    border: none;
    padding: 15px;
    color: #fff;
    box-shadow: none;
    margin-bottom: 15px;
}
#content textarea{
    background-color: #6e26f4;
    border: none;
    padding: 15px;
    color: #fff;
    box-shadow: none;
    margin-bottom: 15px;
}
input::placeholder {
    color: #eee !important;
    opacity: 1;
}
input:-ms-input-placeholder {
    color: #eee !important;
    opacity: 1;
}
  
input::-ms-input-placeholder {
    color: #eee !important;
    opacity: 1;
}
button{
    background-color: #A7F60F !important;
    border: none !important;
    color: #000 !important;
    margin-bottom: 100px;
    margin-top: 30px;
}